<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}FansVoice. We need to hear your voice{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/css/pure-extend.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/tickets.css">
        <link rel="stylesheet" type="text/css" href="/css/tabs.css">
		<link rel="stylesheet" type="text/css" href="/css/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css"/>

		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="/js/slick/slick.min.js"></script>

    {% endblock %}
</head>

<body>

	<div class="homepage bigheader">

		<form  action="/search" method="POST" style="padding:15%; width:100%">
			<div class="searchlinediv">
			<div class="searchlinediv"> 
				<input name="search" placeholder="What are you looking for?" onkeydown="if (event.keyCode == 13) myFunction(this.value)" type="text"  style='width:100%;height:50px;' />
			</div>
			</div>
		</form>
	 
	</div>
 
<div class="content">

	<div class="slickslider">
	{% for comment in comments %}

		<div class="pure-g comments margintop15">

			

			<div class="pure-u-1-4">
				<img src="{{ comment.artists_image }}" width="90%" />
			</div>
			<div class="pure-u-3-4">
				<div class="commentsheader"><a href="/{{ comment.artists_id }}/{{ comment.artists_name|trim|replace({" ":"-"}) }}">{{ comment.artists_name }}</a></div>
				<div  class="stars">
					{% for i in 1..comment.rating %}
						★
					{% endfor %}
					{% if comment.rating<5 %}
						{% for i in 1..5-comment.rating %}
							☆
						{% endfor %}
					{% endif %}
				</div> 

				<div class="username"><strong>{{ comment.author }}</strong></div>
				<div class="feebacktext">
				


					{{ comment.text|length > 300 ? comment.text|slice(0, 300) ~ '...' : comment.text|replace({'\\u2019':"'",'\\u201d':'','\\u201c':'','\\u2013':' ','\\n':"<br>"}) }}
				</div>
				<span class="placeandtime">{{ comment.details }}</span>
			</div>
		</div>

	{% endfor %}
	</div>

	<div class="pure-g">
		<div class="pure-u-1">
	 
			<div class="home artistphotosblock">
				<p id="photos">
			     

			      	<a href="/888/Mean-Girls-NY"><img src="https://s1.ticketm.net/tm/en-us/dam/a/6ff/677aac1f-832b-4112-950e-84f7f40216ff_728951_CUSTOM.jpg" title="Mean Girls NY " /></a>
<a href="/890/Maroon-5"><img src="https://s1.ticketm.net/tm/en-us/dam/a/756/b7a19705-9a27-4654-98ec-4abe0d29e756_546851_CUSTOM.jpg" title="Maroon 5 " /></a>
<a href="/891/Jesse-McCartney"><img src="https://s1.ticketm.net/tm/en-us/dam/a/9cd/72e5ecb5-0c22-44df-aaee-87ae5a2fe9cd_698331_CUSTOM.jpg" title="Jesse McCartney " /></a>
<a href="/894/The-Black-Keys"><img src="https://s1.ticketm.net/tm/en-us/dbimages/173281a.jpg" title="The Black Keys " /></a>
<a href="/897/BAP"><img src="https://s1.ticketm.net/tm/en-us/dam/a/ebe/8b8fe702-1108-4a37-a04b-69c84e6b9ebe_71401_CUSTOM.jpg" title="BAP " /></a>
<a href="/900/Janet-Jackson"><img src="https://s1.ticketm.net/tm/en-us/dam/a/3d6/0d0ee5ba-9a9b-49a8-858d-0856483013d6_688461_CUSTOM.jpg" title="Janet Jackson " /></a>
<a href="/902/Taylor-Swifts-reputation-Stadium-Tour"><img src="https://s1.ticketm.net/tm/en-us/dam/a/375/606d24be-8ead-40aa-a622-22e5dfd02375_581101_CUSTOM.jpg" title="Taylor Swifts reputation Stadium Tour " /></a>
<a href="/903/Europe"><img src="https://s1.ticketm.net/tm/en-us/dbimages/196886a.jpg" title="Europe " /></a>
<a href="/904/Bloc-Party"><img src="https://s1.ticketm.net/tm/en-us/dam/a/451/31208cf6-2d1e-4091-a930-1d71b4120451_134981_CUSTOM.jpg" title="Bloc Party " /></a>
<a href="/905/MONSTA-X"><img src="https://s1.ticketm.net/tm/en-us/dam/a/e09/8d65bdcd-059b-401e-889b-b9c9cbfbce09_650981_CUSTOM.jpg" title="MONSTA X " /></a>
<a href="/906/AHa"><img src="https://s1.ticketm.net/tm/en-us/dbimages/49333a.jpg" title="AHa " /></a>
<a href="/907/J-Cole"><img src="https://s1.ticketm.net/tm/en-us/dam/a/680/815c5d4c-0d65-46ab-9ab6-258a98ace680_702491_CUSTOM.jpg" title="J Cole " /></a>
<a href="/909/Miguel"><img src="https://s1.ticketm.net/tm/en-us/dam/a/130/fa827b37-b759-44c6-8919-072df20ec130_578371_CUSTOM.jpg" title="Miguel " /></a>
<a href="/910/Macklemore"><img src="https://s1.ticketm.net/tm/en-us/dam/a/c44/6f80bb42-7687-4083-9956-d637f5653c44_531081_CUSTOM.jpg" title="Macklemore " /></a>
<a href="/914/Ms-Lauryn-Hill"><img src="https://s1.ticketm.net/tm/en-us/dam/a/236/d7f508af-2b7f-49f0-b496-75ab6917b236_715161_CUSTOM.jpg" title="Ms Lauryn Hill " /></a>
<a href="/915/fun"><img src="https://s1.ticketm.net/tm/en-us/dbimages/125924a.jpg" title="fun " /></a>
<a href="/916/M83"><img src="https://s1.ticketm.net/tm/en-us/dam/a/50c/cf57c426-f475-49e5-8cc3-d2ee9409550c_226461_CUSTOM.jpg" title="M83 " /></a>
<a href="/918/Ozuna"><img src="https://s1.ticketm.net/tm/en-us/dam/a/efb/58b51de6-1452-4f5a-aad3-4b9bad4daefb_741121_CUSTOM.jpg" title="Ozuna " /></a>
<a href="/919/Seal"><img src="https://s1.ticketm.net/tm/en-us/dam/a/488/56158cc5-a1ee-4718-bd39-d82a3ef2e488_661451_CUSTOM.jpg" title="Seal " /></a>
<a href="/920/PNK"><img src="https://s1.ticketm.net/tm/en-us/dam/a/1dd/d5e86d93-5e1a-49d9-b530-70fefc0f21dd_711081_CUSTOM.jpg" title="PNK " /></a>
<a href="/921/OMD"><img src="https://s1.ticketm.net/tm/en-us/dam/a/647/653135e6-d2c1-4689-b96e-e8745ba92647_512071_CUSTOM.jpg" title="OMD " /></a>
<a href="/930/¡Q&#39"><img src="https://s1.ticketm.net/tm/en-us/dbimages/107019a.jpg" title="VIVA!" /></a>
<a href="/1068/Train"><img src="https://s1.ticketm.net/tm/en-us/dam/a/397/70d892c3-a40c-4908-89b5-7fb70dc50397_665301_CUSTOM.jpg" title="Train" /></a>
<a href="/1086/New-Riders-of-the-Purple-Sage"><img src="https://s1.ticketm.net/tm/en-us/dbimages/55883a.jpg" title="New Riders of the Purple Sage" /></a>
<a href="/1087/Lenny-Kravitz"><img src="https://s1.ticketm.net/tm/en-us/dam/a/61b/c0fa8a6b-1b78-448a-ae21-6a87bd29961b_365571_CUSTOM.jpg" title="Lenny Kravitz" /></a>
<a href="/1090/Bret-Michaels"><img src="https://s1.ticketm.net/tm/en-us/dam/a/e26/90b508fd-228b-4be0-9890-9f8981455e26_97411_CUSTOM.jpg" title="Bret Michaels" /></a>
<a href="/1096/Victor-Manuelle"><img src="https://s1.ticketm.net/tm/en-us/dam/a/711/f4930b37-a3de-4b29-99ad-d3ec02d28711_646571_CUSTOM.jpg" title="Victor Manuelle" /></a>
<a href="/1121/The-Total-Package-Tour:-NKOTB-with-Paula-Abdul-And-Bo"><img src="https://s1.ticketm.net/tm/en-us/dam/a/a88/5e602a02-a95c-4bc1-a893-68b7552daa88_228411_CUSTOM.jpg" title="The Total Package Tour: NKOTB with Paula Abdul And Bo" /></a>
<a href="/1125/Slipknot"><img src="https://s1.ticketm.net/tm/en-us/dam/a/5fe/a3e71cb9-0ee9-456a-a398-0b232b9665fe_113611_CUSTOM.jpg" title="Slipknot" /></a>
<a href="/1134/Mandisa"><img src="https://s1.ticketm.net/tm/en-us/dbimages/170250a.jpg" title="Mandisa" /></a>
<a href="/1135/The-Kooks"><img src="https://s1.ticketm.net/tm/en-us/dam/a/4a1/7dd07c2c-751e-4549-8839-55a976faf4a1_377241_CUSTOM.jpg" title="The Kooks" /></a>
<a href="/1154/Boston"><img src="https://s1.ticketm.net/tm/en-us/dam/a/fd5/77cc6e44-e24d-4b6a-8070-b60c3224cfd5_291981_CUSTOM.jpg" title="Boston" /></a>
<a href="/1156/Cut-Copy"><img src="https://s1.ticketm.net/tm/en-us/dbimages/161041a.jpg" title="Cut Copy" /></a>
<a href="/1161/Yelle"><img src="https://s1.ticketm.net/tm/en-us/dbimages/179247a.jpg" title="Yelle" /></a>
<a href="/1163/J.-Roddy-Walston-&-the-Business"><img src="https://s1.ticketm.net/tm/en-us/dam/a/d0b/167b22cd-69e5-48e1-87c8-d5124d209d0b_373861_CUSTOM.jpg" title="J. Roddy Walston & the Business" /></a>
<a href="/1164/Jesus-Culture"><img src="https://s1.ticketm.net/tm/en-us/dam/a/c3a/6019a753-ca6f-44f9-a2dd-6e2f6cb5dc3a_80361_CUSTOM.jpg" title="Jesus Culture" /></a>
<a href="/1171/The-Wood-Brothers"><img src="https://s1.ticketm.net/tm/en-us/dam/a/7d9/92fb2068-ad8e-4489-9c51-5d8df42937d9_570161_CUSTOM.jpg" title="The Wood Brothers" /></a>
<a href="/1173/CPR-Fest"><img src="https://s1.ticketm.net/tm/en-us/dbimages/146690a.jpg" title="CPR Fest" /></a>
<a href="/1174/The-Wailers"><img src="https://s1.ticketm.net/tm/en-us/dam/a/139/397d4f03-95e6-47a4-a2b7-b3ef34ccc139_669331_CUSTOM.jpg" title="The Wailers" /></a>
<a href="/1175/Peter-Cetera"><img src="https://s1.ticketm.net/tm/en-us/dam/a/685/aacbf84b-9f07-4338-8d0e-c9f9ddb66685_649311_CUSTOM.jpg" title="Peter Cetera" /></a>
<a href="/1177/Bruce-in-the-USA"><img src="https://s1.ticketm.net/tm/en-us/dbimages/181919a.jpg" title="Bruce in the USA" /></a>
<a href="/1180/Bob-Seger-&-The-Silver-Bullet-Band"><img src="https://s1.ticketm.net/tm/en-us/dam/a/d1a/667858fd-dca3-494d-80c0-ba3c6f164d1a_712351_CUSTOM.jpg" title="Bob Seger & The Silver Bullet Band" /></a>
<a href="/1182/CeeLo-Green"><img src="https://s1.ticketm.net/tm/en-us/dam/a/4c3/2b8de726-e1b4-4b96-b1a2-b84a03c8b4c3_84071_CUSTOM.jpg" title="CeeLo Green" /></a>
<a href="/1190/The-Hooters"><img src="https://s1.ticketm.net/tm/en-us/dam/a/bfb/81bd80b1-2d1c-4d25-87b0-5cec2487ebfb_271151_CUSTOM.jpg" title="The Hooters" /></a>
<a href="/1191/Black-Sabbath"><img src="https://s1.ticketm.net/tm/en-us/dam/a/3c1/5cf1b154-2a3c-4c2d-a675-7e324fe063c1_228021_CUSTOM.jpg" title="Black Sabbath" /></a>
<a href="/1193/The-Art-Laboe-Show"><img src="https://s1.ticketm.net/tm/en-us/dbimages/115555a.jpg" title="The Art Laboe Show" /></a>
<a href="/1194/Nightwish"><img src="https://s1.ticketm.net/tm/en-us/dam/a/6df/605b3a8f-8c83-4061-af29-972c2a6c36df_520461_CUSTOM.jpg" title="Nightwish" /></a>
<a href="/1195/BJ-Thomas"><img src="https://s1.ticketm.net/tm/en-us/dam/a/ea0/ee01d4a5-f04c-4d49-8ba0-d7461ff08ea0_77621_CUSTOM.jpg" title="BJ Thomas" /></a>
<a href="/1199/Powerhouse"><img src="https://s1.ticketm.net/tm/en-us/dam/a/6e7/5122b7ea-dc3a-4d74-b972-8f826ed706e7_87851_CUSTOM.jpg" title="Powerhouse" /></a>
<a href="/1200/Pet-Shop-Boys"><img src="https://s1.ticketm.net/tm/en-us/dam/a/f2c/d708da80-0037-479b-a036-0c36a9e29f2c_440221_CUSTOM.jpg" title="Pet Shop Boys" /></a>
{# <a href="/1200/Pet-Shop-Boys"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/dfce0205-1aa0-5ce5-9e08-aed63259e282"/></a>
<a href="/3188/RHYTHMS-OF-TRIUMPH"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/3b2ba3ae-ee1a-5f83-8d2b-e89884ef9baf"/></a>
<a href="/1249/The-Moody-Blues"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/cc943ff6-50ab-52f5-842e-2f16469f4a39"/></a>
<a href="/3048/T.K.-Soul"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/9a9608b5-0f25-53d0-acce-a4fe5a048268"/></a>
<a href="/1242/John-Legend"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/d04a7488-3b0f-5bb8-858d-a8fe923b2400"/></a>
<a href="/1400/Eddie-Vedder"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/09c1c970-5f6f-518a-91fa-d7dcc17bdace"/></a>
<a href="/1161/Yelle"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/71e58601-d772-5908-89d8-67b5cc83b949"/></a>
<a href="/2778/Disturbed"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/c0860570-c3ef-5607-96e1-83bf2692f046"/></a>
<a href="/2826/Ja-Rule"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/560092dd-d175-5b33-9a48-7fd037902956"/></a>
<a href="/2934/In-This-Moment"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/bfd4ebb9-bbb9-52b6-812f-1c95730d24a9"/></a>
<a href="/2790/Kenny-Chesney"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/96d5ba84-ae5c-5385-b059-7bd88945eece"/></a>
<a href="/2926/Frank-Turner"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/794e8385-1b50-5329-9114-e1994d2fff34"/></a>
<a href="/3097/Madonna"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/35ce501a-5eed-5b2a-b450-1c20b7a8aa91"/></a>
<a href="/2989/ZZ-Ward"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/aca6d353-8b42-569c-8a9f-2f9485e19e41"/></a>
<a href="/2562/Big-Audio-Dynamite"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/b3b62958-6b7c-53a6-aa33-1dac5b7a0095"/></a>
<a href="/2934/In-This-Moment"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/dee466d1-54c0-5686-895d-811e77b419d3"/></a>
<a href="/2949/Falling-In-Reverse"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/9e5b6933-9b06-5930-89bd-20ffd6e42146"/></a>
<a href="/2840/Chick-Corea"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/0de2773a-8bcd-50ef-8b41-8e6de026d92d"/></a>
<a href="/3022/The-Pretty-Reckless"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/d36cac9f-3a7a-59ea-98b0-a7279bf56c2a"/></a>
<a href="/2632/Luke-Bryan"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/6a408274-3b9e-51c1-a155-d990b7591c6a"/></a>
<a href="/2925/BTS"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/888fe618-2e1b-5ca3-bdf5-05a15e733b10"/></a>
<a href="/3258/Keith-Sweat"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/0bfb358d-f0f5-5349-81a7-aa6040675a29"/></a>
<a href="/3263/All-Time-Low"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/78814b58-3de0-5a26-8d4d-6f245ae2d9ea"/></a>
<a href="/3030/Dustin-Lynch"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/cd8cb395-d847-52af-ad1f-470f4a1e308d"/></a>
<a href="/1090/Bret-Michaels"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/c2e793fb-0cf0-5c94-883d-e6b16729650c"/></a>
<a href="/2842/Jason-Aldean"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/00d621d2-9cc3-551a-865b-00b7447087b9"/></a>
<a href="/3058/R5"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/c626564d-398b-59fd-aa8b-0c898386a7b9"/></a>
<a href="/2727/Chris-Young"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/59f651fb-d813-5563-a23b-a82703819b6b"/></a>
<a href="/2558/UB40"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/7f351de6-302d-54e5-b02c-80ba7b27f8e0"/></a>
<a href="/2575/Fozzy"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/b838a90c-ff42-5999-a70d-2082ce6a9cf4"/></a>
<a href="/1307/Little-Steven-&-the-Disciples-of-Soul"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/9ee3094b-2765-5e15-b57d-fd8d38caad4b"/></a>
<a href="/3050/Belanova"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/e74fdb9b-23bc-5794-8181-59e99fb78d82"/></a>
<a href="/2627/of-Montreal"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/6a13562a-0450-524b-8a6b-297128609bd7"/></a>
<a href="/1191/Black-Sabbath"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/f34292df-f2db-5c42-b392-5f542343f02d"/></a>
<a href="/3041/Music-As-a-Weapon-Tour"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/7e14bf07-7790-5891-9728-4fd738c68572"/></a>
<a href="/3083/Taeyang"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/bdb7bfe9-126d-52bb-8531-836734de4930"/></a>
<a href="/2575/Fozzy"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/812b707f-ffa7-58fc-b555-3d9cafefee23"/></a>
<a href="/2722/Beyoncé"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/465d2f31-2ab3-55f1-83e4-ab960d92e93e"/></a>
<a href="/2852/Yanni"><img src="http://photos-eu.bazaarvoice.com/photo/2/cGhvdG86dGlja2V0bWFzdGVy/963825c8-b5b6-520d-8845-0ff3125f8ccb"/></a> #}
			      
				</p>
			</div>
		</div>
	</div>
 

</div>

<div class="darkfooter">
	<div class="content">

		<div class="pure-g">
			
			<div class="pure-u-1-3">

				<b>Popular Categories</b>
				<ul>
					
						<li><a href="/category/16">Rock & Pop</a></li>
						<li><a href="/category/18">Musicals</a></li>
						<li><a href="/category/19">Rap & Hip-Hop</a></li>
						<li><a href="/category/20">Alternative Rock</a></li>
					
				</ul>
			</div>


			<div class="pure-u-1-3">
				
				<b>Recent feedbacks</b>
				<div class="slickslider" style="overflow:hidden;">
				


<div>
<ul>
<li><a href="/3046/Lil-Dicky">Lil Dicky</a></li>
<li><a href="/3022/The-Pretty-Reckless">The Pretty Reckless</a></li>
<li><a href="/897/BAP-">BAP </a></li>
<li><a href="/2981/Chase-Rice">Chase Rice</a></li>
</ul>
</div>


<div>
<ul>
<li><a href="/3279/Gogol-Bordello">Gogol Bordello</a></li>
<li><a href="/3101/Foster-the-People">Foster the People</a></li>
<li><a href="/3261/Gilberto-Santa-Rosa">Gilberto Santa Rosa</a></li>
</ul>
</div>



<div>
<ul>
<li><a href="/3115/New-Orleans-Jazz-and-Heritage-Festival">New Orleans Jazz and Heritage Festival</a></li>
<li><a href="/2958/Colbie-Caillat">Colbie Caillat</a></li>
<li><a href="/2777/Third-Eye-Blind">Third Eye Blind</a></li>
</ul>
</div>


<div>
<ul>
<li><a href="/2868/Kenny-Rogers">Kenny Rogers</a></li>
<li><a href="/1534/Adele-Tickets">Adele Tickets</a></li>
<li><a href="/2756/Juan-Gabriel">Juan Gabriel</a></li>
<li><a href="/3218/Boyz-II-Men">Boyz II Men</a></li>
</ul>
</div>


<div>
<ul>

<li><a href="/3050/Belanova">Belanova</a></li>
<li><a href="/2630/the-Bangles">the Bangles</a></li>
<li><a href="/920/PNK">PNK </a></li>
</ul>
</div>


<div>
<ul>
<li><a href="/2926/Frank-Turner">Frank Turner</a></li>
<li><a href="/2827/Matt-Nathanson">Matt Nathanson</a></li>
<li><a href="/2944/Timothy-B-Schmit">Timothy B Schmit</a></li>
</ul>
</div>



<div>
<ul>
<li><a href="/1291/New-Kids-On-The-Block-&-Backstreet-Boys">New Kids On The Block & Backstreet Boys</a></li>
<li><a href="/2947/Big-K.R.I.T.">Big K.R.I.T.</a></li>
<li><a href="/2936/The-Big-4">The Big 4</a></li>
</ul>
</div>


<div>
<ul>
<li><a href="/2836/Gwen-Stefani">Gwen Stefani</a></li>
<li><a href="/1171/The-Wood-Brothers">The Wood Brothers</a></li>
<li><a href="/2661/Foreigner">Foreigner</a></li>
<li><a href="/3259/Third-Day">Third Day</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="/1090/Bret-Michaels">Bret Michaels</a></li>
<li><a href="/2718/HARD-Summer-Music-Festival">HARD Summer Music Festival</a></li>
<li><a href="/2569/B96-Jingle-Bash">B96 Jingle Bash</a></li>
<li><a href="/2836/Gwen-Stefani">Gwen Stefani</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="/2921/2-Chainz">2 Chainz</a></li>
<li><a href="/2939/The-Mowgli's">The Mowgli's</a></li>
<li><a href="/3232/Lionel-Richie">Lionel Richie</a></li>
</ul>
</div>

<div>
<ul>
<li><a href="/1402/The-Championship-Tour">The Championship Tour</a></li>
<li><a href="/2989/ZZ-Ward">ZZ Ward</a></li>
<li><a href="/3059/Maroon-5-and-Train">Maroon 5 and Train</a></li>
<li><a href="/3292/Adelitas-Way">Adelitas Way</a></li>
</ul>
</div>

				
				</div>

			</div>

			<div class="pure-u-1-3">

				<b>More information</b>
				<ul>
					
						<li><a href="/page/about">About us</a></li>
						<li><a href="/page/privacy-policy">Privacy Policy</a></li>
						<li><a href="/page/contact">Contact</a></li>
					
				</ul>
			</div>

		</div>

	</div>
</div>

</body>

<script type="text/javascript">
    $(document).ready(function(){
	  $('.slickslider').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 2000,
		dots: false,
	    prevArrow: false,
	    nextArrow: false
	  });
	});
</script>
</html>
