<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}TicketHub Home Page{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/css/pure-extend.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/tickets.css">
        <link rel="stylesheet" type="text/css" href="/css/tabs.css">
		<link rel="stylesheet" type="text/css" href="/css/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css"/>

		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="/js/slick/slick.min.js"></script>

    {% endblock %}
</head>

<body>

	<div style="background: url('https://st.depositphotos.com/1063397/4654/i/950/depositphotos_46549179-stock-photo-musician-at-a-concert.jpg');height: 600px;background-size: cover;">

		<form  action="/search" method="POST" style="padding:15%; width:100%">
			<div style="padding:40px; background-color:#fff9; border-radius: 10px;">
			<div style="padding:40px; background-color:#fff9; border-radius: 10px;"> 
				<input name="search" placeholder="What are you looking for?" id="mainpage_domain" onkeydown="if (event.keyCode == 13) myFunction(this.value)" type="text"  style='width:100%;height:50px;' />
			</div>
			</div>
		</form>
	 
	</div>
 
<div class="content">

	<div class="slickslider">
	{% for comment in comments %}

		<div class="pure-g comments margintop15" style="height:200px">
			<div class="pure-u-1">
				<div style="float:left; margin-right:20px"><a href="/{{ comment.artists_id }}/{{ comment.artists_name|trim|replace({" ":"-"}) }}">{{ comment.artists_name }}</a></div>
				<div  class="stars">
					{% for i in 1..comment.rating %}
						★
					{% endfor %}
					{% if comment.rating<5 %}
						{% for i in 1..5-comment.rating %}
							☆
						{% endfor %}
					{% endif %}
				</div> 

				<div class="username"><strong>{{ comment.author }}</strong></div>
				<div class="feebacktext">
				{{ comment.text|replace({'\\u2019':"'",'\\u201d':'','\\u201c':'','\\u2013':' ','\\n':"<br>"}) }}
				</div>
				<span class="placeandtime">{{ comment.details }}</span>
			</div>
		</div>

	{% endfor %}
	</div>

</div>

<div style="background: #444;height: 200px;background-size: cover; color:white">
	<div class="content">

		<div class="pure-g" style="border:1px solid;border-top-color:#444;margin-top:15px; padding:20px;">
			<div class="pure-u-1-2">

				<b>Recent feedbacks</b>
				<u>
					{% for artist in artists %}
					<li style="list-style-type: square;">
						<a style="color:white" href="/{{ artist.id }}/{{ artist.name|trim|replace({" ":"-"}) }}">{{ artist.name }}</a>
					</li>

					{% endfor %}
				</u>
			</div>

			<div class="pure-u-1-2">

				<b>More information</b>
				<u>
					
						<li><a href="/page/about">About us</a></li>
						<li><a href="/page/terms">Terms</a></li>
						<li><a href="/page/privacy-policy">Privacy Policy</a></li>
						<li><a href="/page/contact">Contact</a></li>
					
				</u>
			</div>

		</div>

	</div>
</div>

</body>

<script type="text/javascript">
    $(document).ready(function(){
	  $('.slickslider').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 2000,
	  });
	});
</script>
</html>
